{%extends 'projects/base.html'%}

{% block content %}
{{block.super}}


<div id="top">
<h1 class="text-center">WELCOME</h1>
</div>

 {%for proj in projects %}

   <div class="col-md-4" >
    <div style="border:2px solid white; padding:4px;">
   <p>{{proj.name}}</p>
  <a href="/project/{{proj.id}}"> <img src="{{proj.screenshot.url}}" alt="" height="200"></a>
   <p>{{proj.description}}</p>
   <a href="/grade/{{proj.id}}"> <button>Grade</button> </a>
  </div>
</div>
 {%endfor%}


{% endblock %}



