{%extends 'projects/base.html'%} 
{% block content %}
<div class="container">

  <div class="row">
    {% if projects %}
      <h2>Found {{ projects|length }} of searched term.  {{message}}</h2>
    {% else %}
      <h2> Found 0 projects for the search term.  {{message}}</h2>
    {% endif %}

  </div>

  <div class="row">

  {% if projects %}
    {% for article in projects %}
      <div class="col-sm-6 col-md-3">
        <p>{{article.name}}</p>
         <a href="/project/{{article.id}}"> <img src="{{article.screenshot.url}}" alt="" height="200"></a>
      </div>
    {% endfor %}
  {% endif %}
  </div>
</div>
{% endblock %}